/* Estilo personalizado para los inputs */
.button-radius {
    border-radius: 100px; /* Bordes cuadrados */

}
.custom-input {
    border-radius: 100px; /* Bordes cuadrados */
    border: 1px solid #ced4da; /* Borde del input */
}

.custom-input:focus {
    border-color: #007bff; /* Color del borde cuando el input está enfocado */
    box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25); /* Sombra al enfocar el input */
}

.gradient-card {
    background: linear-gradient(to right, #4e54c8, #8f94fb);
    color: #fff; /* Cambia el color del texto según sea necesario */
    border: none; /* Ajusta los bordes según sea necesario */
    border-radius: 10px; /* Ajusta el radio de la esquina según sea necesario */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Ajusta la sombra según sea necesario */
    transition: transform 0.3s ease-in-out; /* Agrega una transición suave si lo deseas */
}

.gradient-card:hover {
    transform: scale(1.05); /* Escala la tarjeta al pasar el mouse si lo deseas */
}

::-webkit-scrollbar {
    width: 3px;
    background-color: #f5f5f5;
}

/* Estilo del thumb y track */
::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.2);
    border-radius: 5px;
}

::-webkit-scrollbar-track {
    background-color: #f5f5f5;
}

/* Estilo del scrollbar en hover */
::-webkit-scrollbar-thumb:hover {
    background-color: rgba(0, 0, 0, 0.4);
}

/* Estilo del scrollbar en active */
::-webkit-scrollbar-thumb:active {
    background-color: rgba(0, 0, 0, 0.6);
}

/* Estilo del scrollbar corner (esquina del scrollbar) */
::-webkit-scrollbar-corner {
    background-color: #f5f5f5;
}


body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
main {
    flex: 1;
}